* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-most {
  background-color: #d30202cc;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-most ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15px;
}

.top-most li {
  list-style: none;
  line-height: 60px;
}

.top-most a {
  display: block;
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  color: white;
}

.nav-main {
  background-color: rgba(250, 248, 248, 0.178);
  width: 100%;
  height: 75px;
  border: 1px solid;
  padding: 10px;
  -webkit-box-shadow: 5px 10px #888888;
          box-shadow: 5px 10px #888888;
}

.nav-main li:nth-child(6) {
  margin-left: auto;
}

.nav-main li:nth-child(1) {
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3px;
}

.nav-main li {
  list-style: none;
  line-height: 60px;
}

.nav-main a {
  display: block;
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  color: black;
  line-height: 50px;
  padding: 0 20px;
  font-weight: bold;
}

.enter-login {
  padding-top: 40px;
  text-align: center;
}

.sign-cont .sign-row {
  padding: 150px 0 100px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sign-cont input[type="text"],
.sign-cont [type="password"],
.sign-cont [type="number"],
.sign-cont select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sign-cont input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  background-color: rgba(209, 203, 203, 0.295);
  width: 100%;
}

footer .foot-cont {
  margin: 100px 150px;
}

footer .foot-row {
  padding-top: 40px;
}

footer .fab {
  text-decoration: none;
  color: #d30202cc;
  margin: 5px;
}

footer ul > li {
  text-decoration: none;
  list-style: none;
  font-weight: 400;
  font-size: 15px;
  padding: 8px;
}

footer h3 {
  font-weight: 600;
  font-size: 20px;
}

footer .policy {
  text-align: center;
  margin-top: -60px;
}
/*# sourceMappingURL=sign.css.map */